{% extends 'base.html' %}
{% block title %}
    Home - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Welcome to my projects and experiences site!</h1>
    <p>Please look around and feel free to leave a comment!</p>
    <h1>Directory</h1>
    <div class="grid-x">
        {% for post in posts %}
            <div class="cell large-6">
                <a href="{% url 'post_detail' slug=post.slug %}"><img class="cover-thumb" src="{{ post.image.url }}" alt=""></a>
                 <div class="nav-item">
                    <h5 class="float-left"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }} - {{ post.created|date:'m-d-Y' }}</a></h5>
                    {% if request.user.is_authenticated %}{% endif %}
                    <form method="POST" action="{% url 'toggle_favorite' slug=post.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="post" value="{{ post.pk }}">
                        <button class="button success tiny" type="submit">
                            {% if post in favorite_posts %}
                                
                            {% else %}

                            {% endif %}
                        </button>
                    </form>
                    <button class="button hollow success small" type="submit">Favorite</button>
                </div>
                <p>{{ post.description|truncatechars:150 }}</p>
                <div class="button hollow small success">
                    Favorited {{ post.favorites.count }} time{{ post.favorites.count|pluralize }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}