[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
django = "*"
django-registration-redux = "==2.0"
faker = "*"
django-crispy-forms = "*"
pillow = "*"
django-extensions = "*"
mimesis = "*"
django-heroku = "*"
crispy-forms-foundation = "*"
werkzeug = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
