{% extends 'base.html' %}
{% block title %}
     {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>added on {{ post.created }}</p>
    <p>{{ post.description }}</p>
    {% if post.image %}<img class="cover-thumb" src="{{ post.image.url }}" alt="">{% endif %}
    <p>{{ fav_post }}</p>
    <p>{{ post.num_likes }}</p>
    {% comment %} {% if user == post.creator %} {% endcomment %}
        <p><a href="{% url 'edit_post' slug=post.slug %}">Edit me!</a></p>
    {% comment %} {% endif %} {% endcomment %}
{% endblock content %}
